<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- 1. Source information - Cosmos DB -->
    <add key="SourceEndPointUrl" value="" />
    <add key="SourceAuthorizationKey" value="" />
    <add key="SourceDatabaseName" value="" />
    <add key="SourceCollectionName" value="" />
    <add key="PartitionKeyFieldName" value="" />

    <!-- 1.1. Read settings for Source -->
    <add key="MaxItemCount" value="1000" />
    <add key="MaxBufferedItemCount" value="1000" />
    <add key="DegreeOfParallelism" value="10"/>

    <!-- 2. Destination information - Cosmos DB -->
    <add key="DestinationEndPointUrl" value="" />
    <add key="DestinationAuthorizationKey" value="" />
    <add key="DestinationDatabaseName" value="" />
    <add key="DestinationCollectionName" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>